*.ipch
*.suo
*.db
*.sln
.vs/aquar/v15/.suo
*.db
.vs/aquar/v15/Browse.VC.db
Debug/aquar.pdb
Debug/aquar.ilk
Debug/aquar.exe
*.pdb
*.obj
*.tlog
*.opendb
*.filters
*.user
*.filters
*.log
*.idb
*.filters
*.vcxproj
aquar/aquar.vcxproj
.vs/aquar/v15/.suo
.vs/aquar/v15/Browse.VC.db
